.container-custom{
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

.txt-white{
    color: white;
}

.txt-darkgrey{
    color: rgb(88, 88, 88);
}

.txt-grey{
    color: grey;
}

.txt-celeste{
    color: #2D64E6;
}

.btn-aspetto{
    padding: 5px 15px;
    border-radius: 25px;
    border: none;
}

p{
    margin: 0;
}

.box-img-griglia,
.box-img-griglia > img{
    border-radius: 20px;
}

/* ----jumbotron---- */

.bg-img{
    height: 100vh;
    background: url("../img/jumbo-bg.png") no-repeat center;
    background-size: cover;
}

.img-title{
    width: 60%;
}

.jumbotron button{
    background-color: #CD3D0F;
}

/*----1° griglia img---- */

.brd-celeste{
    border:#2D64E6 2px solid;
    padding: 2px;
}

/* ----info ps5 + img---- */

.info button{
    background-color: #2D64E6;
}

.nascosto{
    display: none;
}

.opacizzato{
    filter: opacity(0.7);
}