.container-custom{
    height: 100%;
    width: 95%;
    padding: 0 12px;
    margin: 0 auto;
}

.txt-white{
    color: white;
}

.txt-darkgrey{
    color: rgb(88, 88, 88);
}

.txt-grey{
    color: grey;
}

.txt-celeste{
    color: #2D64E6;
}

button:not(.navbar-toggler){
    height: 30px;
    padding: 0 15px;
    border-radius: 25px;
    border: transparent 2px solid;
}

p{
    margin: 0;
}

.box-img-griglia{
    padding: 2px;
    border:transparent 2px solid;
}

.box-img-griglia,
.box-img-griglia > img{
    border-radius: 20px;
}

.jumbotron button,
.banner button{
    box-shadow: 0 0 0 1.5px#CD3D0F;
    background-color: #CD3D0F;
}

.ps5-info button,
.ps4 button{
    box-shadow: 0 0 0 1.5px#2D64E6;
    background-color: #2D64E6;
}

.img-title{
    width: 55%;
}

ul{
    list-style: none;
}

/* ----header---- */

header{
    height: 30px;
    width: 100%;
}

.box-sony-logo{
    height: 30px;
}

.box-sony-logo > img{
    height: 100%;
    padding: 7px 0;
}

/* ----nav---- */

.bg-white{
    background-color: white;
}

nav{
    margin-top: 30px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu.show {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
}

.dropdown-menu{
    margin: 0;
    border:none;
    border-radius: 0;
}

.btn-dimensioni-nav{
    font-size: 0.7;
    padding: 0px 15px;
    margin-right: 12px;
    background-color: black;
    box-shadow: 0 0 0 1.5px black;
} 

#navbarDropdown{
    color: black;
}


#cerca {
    background: url('../img/lens.svg') no-repeat;
    background-size:contain;
    width: 30px;
    border: none;
    cursor: pointer;
}

#cerca:focus {
    background-image:none;
    box-shadow: none;
    width: 125px;
    cursor: text;
    border: lightgray 1px solid
}

.dropdown-item{
    width: auto;
    margin: 0 24px;
}

.dropdown-menu img{
    height: 100%;
}


/* ----jumbotron---- */

.jumbotron{
    margin-top: 100px;
    height: calc(100vh - 100px);
    background: url("../img/jumbo-bg.png") no-repeat center;
    background-size: cover;
}

/*----prima griglia giochi---- */

 .griglia-games-1 .elemento-selezionato{
    border-color:#2D64E6;
}

/* ----info ps5 + img---- */


.ps5-info .col{
    filter: opacity(0.6);
}

.ps5-info .elemento-selezionato{
    filter: opacity(1);
    border-bottom: #2D64E6  1px solid;
}

/* ----banner---- */

.banner{
    height: 100vh;
    background: url("../img/it-takes-two-hero-banner-desktop.jpg") no-repeat center;
    background-size: cover;
}

/* ----2° griglia img---- */

.bg-grey{
    background-color: #1F1F1F;
}

/* ----ps plus----*/

.bg-lightgray{
    background-color: #BEBCBB;
}

.ps-plus button{
    background-color: #ebedf0;
    box-shadow: 0 0 0 1.5px #ebedf0;
}

/* ----ps now---- */

.bg-darkblue{
    background-color: #161C3B;
}

.ps-now button{
    background-color: white;
    box-shadow: 0 0 0 1.5px white;
}

/* ----footer---- */

.bg-lightblue{
    background-color: #00439C;
}

.box-sony{
    width: 100px;
}

.box-sony > img{
    width: 100%;
}

.globo > img{
    width: 15px;
}

.globo{
    padding-right: 0;
}

.box-sie{
    width: 120px;
}

/* hover + click */

#navbarDropdown:hover{
    color: #2D64E6;
}

/* transition button */

button{
    transition: all 0.5s
}

button:not(.navbar-toggler):hover{
    border-color: white;
}

.ps-plus button:hover{
    border-color: #2D64E6;
}

.ps-now button:hover{
    border-color: black;
}

/* trasition ps5-info */

.ps5-info .col{
    transition: all 0.5s;
}

.ps5-info .col:hover{
    filter: opacity(1);
}

/* transition griglia-games-1 */


.griglia-games-1 .box-img-griglia{
    position: relative;
    top: 0px;
    transition: all 0.3s ease-in-out;
}

.griglia-games-1 .box-img-griglia:hover{
    top: -20px;
}

/* animation immagini nel dropdown */

.dropdown-item img{
    filter: opacity(0);
    animation: imgGrowth 1s;
    animation-fill-mode: forwards;
}

@keyframes imgGrowth {
    100% {
        filter: opacity(1);
    }
}