.container-custom{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.txt-white{
    color: white;
}

.txt-darkgrey{
    color: rgb(88, 88, 88);
}

.txt-grey{
    color: grey;
}

.txt-celeste{
    color: #2D64E6;
}

button:not(.navbar-toggler){
    height: 30px;
    padding: 0 15px;
    border-radius: 25px;
    border: transparent 2px solid;
}

p{
    margin: 0;
}

.box-img-griglia{
    padding: 2px;
    border:transparent 2px solid;
}

.box-img-griglia,
.box-img-griglia > img{
    border-radius: 20px;
}

.jumbotron button,
.banner button{
    box-shadow: 0 0 0 3px#CD3D0F;
    background-color: #CD3D0F;
}

.ps5-info button,
.ps4 button{
    box-shadow: 0 0 0 3px#2D64E6;
    background-color: #2D64E6;
}

.img-title{
    width: 55%;
}

.nascosto{
    display: none;
}

/* ----header---- */

header{
    height: 30px;
    width: 100%;
}

.box-sony-logo{
    height: 30px;
}

.box-sony-logo > img{
    height: 100%;
    padding: 7px 0;
}

/* ----nav---- */

.bg-white{
    background-color: white;
}

nav{
    margin-top: 30px;
}

.btn-dimensioni-nav{
    font-size: 0.7;
    padding: 0px 15px;
    margin-right: 12px;
    background-color: black;
    box-shadow: 0 0 0 3px black;
} 

#navbarDropdown{
    color: black;
}

.cerca{
    width: 25px;
}

/* ----jumbotron---- */

.jumbotron{
    margin-top: 100px;
    height: 100vh;
    background: url("../img/jumbo-bg.png") no-repeat center;
    background-size: cover;
}

/*----1° griglia img---- */

.griglia-games-1 .row .col-6:first-of-type .box-img-griglia,
.griglia-games-1 .row .col-4:first-of-type .box-img-griglia,
.griglia-games-1 .row .col-2:first-of-type .box-img-griglia{
    border-color:#2D64E6;
}

/* ----info ps5 + img---- */


.ps5-info .col{
    filter: opacity(0.6);
}

.ps5-info .row .col:first-of-type{
    filter: opacity(1);
    border-bottom: #2D64E6  1px solid;
}

/* ----banner---- */

.banner{
    height: 100vh;
    background: url("../img/it-takes-two-hero-banner-desktop.jpg") no-repeat center;
    background-size: cover;
}

/* ----2° griglia img---- */

.bg-grey{
    background-color: #1F1F1F;
}

/* ----ps plus----*/

.bg-lightgray{
    background-color: #BEBCBB;
}

.ps-plus button{
    background-color: #ebedf0;
    box-shadow: 0 0 0 3px #ebedf0;
}

/* ----ps now---- */

.bg-darkblue{
    background-color: #161C3B;
}

.ps-now button{
    background-color: white;
    box-shadow: 0 0 0 3px white;
}

/* ----footer---- */

.bg-lightblue{
    background-color: #00439C;
}

.box-sony{
    width: 100px;
}

.box-sony > img{
    width: 100%;
}

.globo > img{
    width: 15px;
}

.globo{
    padding-right: 0;
}

.box-sie{
    width: 120px;
}

/* hover + click */

#navbarDropdown:hover{
    color: #2D64E6;
}

/* transition button */

button{
    transition: all 0.5s
}

button:not(.navbar-toggler):hover{
    border-color: white;
}

.ps-plus button:hover{
    border-color: #2D64E6;
}

.ps-now button:hover{
    border-color: black;
}

/* trasition ps5-info */

.ps5-info .col{
    transition: all 0.5s;
}

.ps5-info .col:hover{
    filter: opacity(1);
}

/* animation griglia-games-1 */

.griglia-games-1 .card-generica{
    position: relative;
}

.griglia-games-1 .card-generica .box-img-griglia:hover{
    position: absolute;
    top: 0;
    animation: moveTop 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes moveTop {
    100% {
        top: -20px;
        animation-play-state: paused;
    }
}








